@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/****************************/
/* BEGIN Quill Editor Style */
/****************************/
.ql-toolbar {
  border-radius: 4px 4px 4px 4px;
  border: 1px solid #6b46c1 !important;
}

/* Buttons when idle */
.ql-toolbar button {
  width: 28px;
  height: 28px;
  border-radius: 6px;
}

.ql-toolbar button:hover .ql-stroke {
  background: #9333ea;
  stroke: #805ad5 !important;
}

.ql-toolbar button:hover .ql-fill {
  fill: #805ad5 !important;
}

.ql-toolbar button.ql-active .ql-stroke {
  stroke: #00ff00 !important;
}

.ql-toolbar button.ql-active .ql-fill {
  fill: #00ff00 !important;
}

.ql-toolbar .ql-picker-options {
  background: black !important;
  border-radius: 4px !important;
  border: 1px solid #6b46c1 !important;
}

.ql-toolbar .ql-picker {
  border-radius: 4px !important;
  border: 1px solid #6b46c1 !important;
}

.ql-container {
  padding: 0 !important;
  border-radius: 4px 4px 0px 0px;
  border: 0px solid gray !important;
  background: transparent !important;
}

.ql-editor {
  padding: 0 !important;
  background: transparent !important;
}

/* END Quill Editor Style */
